<div class="row my-3">
  <div class="col-md-3">
    <h3 class="h5 mb-4">Filter products</h3>
    <form>
      <h4 class="h6 mt-4">Brand</h4>
      <select class="custom-select">
        <option selected>Select brand</option>
        <option value="1">Tommy Hilfiger</option>
        <option value="2">Your Turn</option>
      </select>

      <h4 class="h6 mt-4">Type</h4>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="type-1">
        <label class="form-check-label" for="type-1">
          Crew Neck
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="type-2">
        <label class="form-check-label" for="type-2">
          Polo
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="type-3">
        <label class="form-check-label" for="type-3">
          V Neck
        </label>
      </div>
    </form>


  </div>
  <div class="col-md-9">
    <div class="d-flex">
      <p class="flex-grow-1">Showing <b>4</b> of <b>12</b> products</p>
      <nav aria-label="Subcategories navigation">
        <ul class="pagination justify-content-end">
          <li class="page-item disabled"><a class="page-link" href="products.html" tabindex="-1">Previous</a></li>
          <li class="page-item active"><a class="page-link" href="products.html">1</a></li>
          <li class="page-item"><a class="page-link" href="products.html">2</a></li>
          <li class="page-item"><a class="page-link" href="products.html">3</a></li>
          <li class="page-item"><a class="page-link" href="products.html">Next</a></li>
        </ul>
      </nav>
    </div>


    <div class="card-columns">
      <div class="card">
        <a href="product.html"><img class="card-img-top" src="../images/01.jpg" alt="Sample image"></a>
        <div class="card-body">
          <h5 class="card-title">$24.99</h5>
          <p class="card-text">Cool t-shirt</p>
        </div>
      </div>
      <div class="card">
        <a href="product.html"><img class="card-img-top" src="../images/02.jpg" alt="Sample image"></a>
        <div class="card-body">
          <h5 class="card-title">$24.99</h5>
          <p class="card-text">Cool t-shirt</p>
        </div>
      </div>
      <div class="card">
        <a href="product.html"><img class="card-img-top" src="../images/03.jpg" alt="Sample image"></a>
        <div class="card-body">
          <h5 class="card-title">$24.99</h5>
          <p class="card-text">Cool t-shirt</p>
        </div>
      </div>
      <div class="card">
        <a href="product.html"><img class="card-img-top" src="../images/04.jpg" alt="Sample image"></a>
        <div class="card-body">
          <h5 class="card-title">$24.99</h5>
          <p class="card-text">Cool t-shirt</p>
        </div>
      </div>
    </div>

    <div class="d-flex">
      <p class="flex-grow-1">Showing <b>4</b> of <b>12</b> products</p>
      <nav aria-label="Subcategories navigation">
        <ul class="pagination justify-content-end">
          <li class="page-item disabled"><a class="page-link" href="products.html" tabindex="-1">Previous</a></li>
          <li class="page-item active"><a class="page-link" href="products.html">1</a></li>
          <li class="page-item"><a class="page-link" href="products.html">2</a></li>
          <li class="page-item"><a class="page-link" href="products.html">3</a></li>
          <li class="page-item"><a class="page-link" href="products.html">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
