<h4>Photos</h4>

<div class="row">
  <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
    <a href="../images/01.jpg" target="_blank">
      <img
        class="img-thumbnail img-responsive"
        src="../images/01.jpg"
        alt="Sample image"
      />
    </a>
    <button
      type="button"
      class="btn btn-link"
      aria-label="Remove this photo"
    >
      Remove
    </button>
  </div>
  <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
    <a href="../images/02.jpg" target="_blank">
      <img
        class="img-thumbnail img-responsive"
        src="../images/02.jpg"
        alt="Sample image"
      />
    </a>
    <button
      type="button"
      class="btn btn-link"
      aria-label="Remove this photo"
    >
      Remove
    </button>
  </div>
  <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
    <a href="../images/03.jpg" target="_blank">
      <img
        class="img-thumbnail img-responsive"
        src="../images/03.jpg"
        alt="Sample image"
      />
    </a>
    <button
      type="button"
      class="btn btn-link"
      aria-label="Remove this photo"
    >
      Remove
    </button>
  </div>
  <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
    <a href="../images/04.jpg" target="_blank">
      <img
        class="img-thumbnail img-responsive"
        src="../images/04.jpg"
        alt="Sample image"
      />
    </a>
    <button
      type="button"
      class="btn btn-link"
      aria-label="Remove this photo"
    >
      Remove
    </button>
  </div>
</div>

<form class="my-2">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label for="photo-file">Upload new photo</label>
    </div>
    <div class="col-auto">
      <input class="form-control-file " type="file" id="photo-file" />
    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-primary btn-sm">Upload</button>
    </div>
  </div>
</form>
