<hr class="my-5" />

<div class="d-flex mb-4">
  <h4 class="flex-grow-1">Stock levels</h4>

  <div>
    <a href="./stock-levels.html" class="btn btn-light"
      >Edit stock levels</a
    >
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Size</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">XS</th>
      <td>10</td>
    </tr>
    <tr>
      <th scope="row">S</th>
      <td>20</td>
    </tr>
    <tr>
      <th scope="row">M</th>
      <td>5</td>
    </tr>
    <tr>
      <th scope="row">L</th>
      <td>22</td>
    </tr>
    <tr>
      <th scope="row">XL</th>
      <td>Out of stock</td>
    </tr>
  </tbody>
</table>
