<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <title>PlatformOS e-commerce</title>
  <meta name="description" content="Example of a simple e-commerce site powered by PlatformOS">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="./">T-Shirts!</a>


  </nav>

  <div class="container">
    <div class="row">
      <main class="col-md-12 p-xs-3 pt-5">
        <h1>Administration panel</h1>

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="./">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="./products.html">
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./users.html">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./orders.html">
              Orders <span class="badge badge-light">3</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./payments.html">
              Payments
              <span class="badge badge-danger">3</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./reviews.html">
              Reviews <span class="badge badge-light">9</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./settings.html">
              Settings
            </a>
          </li>
        </ul>

        <div class="container my-3">
          <div class="row">
            <div class="col-md-3">
              <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                  <a href="products.html" class="nav-link">Products</a></li>
                <li class="nav-item">
                  <a href="categories.html" class="nav-link active">Categories</a></li>
              </ul>
            </div>
            <div class="col-md-9 p-4">
              <div class="d-flex mb-4">
                <h3 class="flex-grow-1"><span class="font-weight-bold">Brand</span> <span class="font-weight-light">category</span></h3>

              </div>
              <form class="mb-3">
                <div class="form-group">
                  <label for="category-name">Category name</label>
                  <input type="text" class="form-control" id="category-name" aria-describedby="name-help" placeholder="Enter category name" required>
                  <small id="name-help" class="form-text text-muted">Provider a descriptive name for your category</small>
                </div>
                <div class="form-group">
                  <label for="category-name">Category description <small class="text-muted">(optional)</small></label>
                  <textarea class="form-control" id="category-description" aria-describedby="description-help" placeholder="Describe this category"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mr-sm-3">Save changes</button>
                <a href="category.html">Cancel</a>
              </form>
            </div>
          </div>
        </div>


      </main>
    </div>
  </div> <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>
