<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <title>PlatformOS e-commerce</title>
  <meta name="description" content="Example of a simple e-commerce site powered by PlatformOS">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="./">T-Shirts!</a>


  </nav>

  <div class="container">
    <div class="row">
      <main class="col-md-12 p-xs-3 pt-5">
        <h1>Administration panel</h1>

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="./">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./products.html">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./users.html">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./orders.html">
              Orders <span class="badge badge-light">3</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./payments.html">
              Payments
              <span class="badge badge-danger">3</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./reviews.html">
              Reviews <span class="badge badge-light">9</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./settings.html">
              Settings
            </a>
          </li>
        </ul>

        <div class="card-columns my-3">

          <div class="card text-white bg-primary">
            <div class="card-header">Requiring attention</div>
            <div class="list-group list-group-flush">
              <a href="#" class="list-group-item list-group-item-action list-group-item-danger">
                <span class="badge badge-danger">3</span> payments failed
              </a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-success">
                View <span class="badge badge-success">3</span> new orders since last login
              </a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-primary">
                <span class="badge badge-primary">5</span> new users registered this week
              </a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-primary">
                There are <span class="badge badge-primary">9</span> user reviews pending approval
              </a>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Products</h5>
              <p class="card-text">You have <span class="badge badge-light">175</span> products and <span class="badge badge-light">4</span>
                product categories.</p>
            </div>

            <div class="list-group list-group-flush">
              <a href="#" class="list-group-item d-flex justify-content-between align-items-center">Create new product</a>
              <a href="#" class="list-group-item ist-group-item d-flex justify-content-between align-items-center">Manage
                products</a> <a href="#" class="list-group-item ist-group-item d-flex justify-content-between align-items-center">Manage
                categories</a> </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Users</h5>
              <p class="card-text">There are <span class="badge badge-light">175</span> registered users.</p>
            </div>
            <div class="list-group list-group-flush">
              <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                View new users
                <span class="badge badge-primary badge-pill">5</span>
              </a>
              <a href="#" class="list-group-item d-flex justify-content-between align-items-center">Manage users</a>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Orders</h5>
              <p class="card-text">There are <span class="badge badge-light">320</span> orders in the system</p>
            </div>
            <div class="list-group list-group-flush">
              <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                View new orders
                <span class="badge badge-success badge-pill">3</span>
              </a>
              <a href="#" class="list-group-item ist-group-item d-flex justify-content-between align-items-center">Manage
                orders</a>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Payments</h5>
              <p class="card-text">Payments so far total to <span class="badge badge-light">$13,350.50</span></p>
            </div>
            <div class="list-group list-group-flush">
              <a href="#" class="list-group-item d-flex justify-content-between align-items-center">View failed
                payments <span class="badge badge-danger badge-pill">3</span></a>
              <a href="#" class="list-group-item ist-group-item d-flex justify-content-between align-items-center">Manage
                payments</a>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Reviews</h5>
              <p class="card-text">Your clients have written <span class="badge badge-light">199</span>
                reviews</p>
            </div>
            <div class="list-group list-group-flush">
              <a href="#" class="list-group-item d-flex justify-content-between align-items-center">View pending
                reviews <span class="badge badge-primary badge-pill">9</span></a>
              <a href="#" class="list-group-item ist-group-item d-flex justify-content-between align-items-center">Manage
                reviews</a>
            </div>
          </div>
      </main>
    </div>
  </div> <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>
