<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <title>PlatformOS e-commerce</title>
  <meta name="description" content="Example of a simple e-commerce site powered by PlatformOS">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="./">T-Shirts!</a>


  </nav>

  <div class="container">
    <div class="row">
      <main class="col-md-12 p-xs-3 pt-5">
        <h1>Administration panel</h1>

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="./">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="./products.html">
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./users.html">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./orders.html">
              Orders <span class="badge badge-light">3</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./payments.html">
              Payments
              <span class="badge badge-danger">3</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./reviews.html">
              Reviews <span class="badge badge-light">9</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./settings.html">
              Settings
            </a>
          </li>
        </ul>

        <div class="container my-3">
          <div class="row">
            <div class="col-md-3">
              <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                  <a href="categories.html" class="nav-link">Categories</a></li>
                <li class="nav-item">
                  <a href="products.html" class="nav-link active">Products</a>
                </li>
              </ul>

              <hr>

              <form>
                <h4 class="h6">Sex</h4>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="sex-women">
                  <label class="form-check-label" for="sex-women">
                    Women
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="sex-men">
                  <label class="form-check-label" for="sex-men">
                    Men
                  </label>
                </div>

                <h4 class="h6 mt-4">Brand</h4>
                <select class="custom-select">
                  <option selected>Select brand</option>
                  <option value="1">Tommy Hilfiger</option>
                  <option value="2">Your Turn</option>
                </select>

                <h4 class="h6 mt-4">Type</h4>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="type-1">
                  <label class="form-check-label" for="type-1">
                    Crew Neck
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="type-2">
                  <label class="form-check-label" for="type-2">
                    Polo
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="type-3">
                  <label class="form-check-label" for="type-3">
                    V Neck
                  </label>
                </div>
              </form>

              <hr>

              <p><a href="product-edit.html" class="btn btn-primary">Add new product</a></p>
            </div>
            <div class="col-md-9">
              <div class="d-flex">
                <p class="flex-grow-1">Showing <b>4</b> of <b>12</b> products</p>
                <nav aria-label="Subcategories navigation">
                  <ul class="pagination pagination-sm justify-content-end">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav>
              </div>


              <div class="card-columns">
                <div class="card">
                  <a href="product.html"><img class="card-img-top" src="../images/01.jpg" alt="Sample image"></a>
                  <div class="card-body">
                    <h5 class="card-title">$24.99</h5>
                    <p class="card-text">Cool t-shirt</p>
                  </div>
                </div>
                <div class="card">
                  <a href="product.html"><img class="card-img-top" src="../images/02.jpg" alt="Sample image"></a>
                  <div class="card-body">
                    <h5 class="card-title">$24.99</h5>
                    <p class="card-text">Cool t-shirt</p>
                  </div>
                </div>
                <div class="card">
                  <a href="product.html"><img class="card-img-top" src="../images/03.jpg" alt="Sample image"></a>
                  <div class="card-body">
                    <h5 class="card-title">$24.99</h5>
                    <p class="card-text">Cool t-shirt</p>
                  </div>
                </div>
                <div class="card">
                  <a href="product.html"><img class="card-img-top" src="../images/04.jpg" alt="Sample image"></a>
                  <div class="card-body">
                    <h5 class="card-title">$24.99</h5>
                    <p class="card-text">Cool t-shirt</p>
                  </div>
                </div>
              </div>

              <div class="d-flex">
                <p class="flex-grow-1">Showing <b>4</b> of <b>12</b> products</p>
                <nav aria-label="Subcategories navigation">
                  <ul class="pagination pagination-sm justify-content-end">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav>
              </div>
            </div>


          </div>
        </div>


      </main>
    </div>
  </div> <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>
