<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <title>PlatformOS e-commerce</title>
  <meta name="description" content="Example of a simple e-commerce site powered by PlatformOS">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="./">T-Shirts!</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav" aria-controls="navbar-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-nav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="./">Dashboard</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="products.html">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="categories.html">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="users.html">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="orders.html">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="payments.html">Payments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="settings.html">Settings</a>
        </li>
      </ul>
      <div class="navbar-text mr-3 d-none d-lg-inline">Hello Admin!</div>
      <form class="form-inline"><button type="submit" class="btn btn-sm btn-outline-light">Log out</button></form>
    </div>

  </nav>

  <main class="container my-3 pt-5">
    <p><a href="products.html">&laquo; Return to products listing</a></p>
    <div class="d-flex mb-4">
      <h1 class="flex-grow-1">Cool t-shirt</h1>

      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuUpload" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Actions
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuUpload">
          <a class="dropdown-item" href="product-edit.html">Edit</a>

          <button type="button" class="dropdown-item" data-toggle="modal" data-target="#removeProductModal">
            Remove
          </button>
        </div>
      </div>
    </div>



    <h4 class="display-4">$24.99</h4>

    <p>
      <i>
        Optional description. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, quis.
        Velit sapiente consectetur rerum maxime dolorum fugiat quia expedita. Deserunt earum accusamus nihil
        excepturi eaque libero magnam architecto sit aliquid.
      </i>
    </p>

    <h4>Available sizes</h4>
    <p>
      <span class="badge badge-pill badge-light">XS</span>
      <span class="badge badge-pill badge-light">S</span>
      <span class="badge badge-pill badge-light">M</span>
      <span class="badge badge-pill badge-light">L</span>
      <span class="badge badge-pill badge-light">XL</span>
      <span class="badge badge-pill badge-light">XXL</span>
    </p>

    <div class="d-flex mt-4 mb-2">
      <h4 class="flex-grow-1">Photos</h4>

      <div>
        <button class="btn btn-light btn-sm  dropdown-toggle" type="button" id="dropdownMenuUpload" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Add photo
        </button>
        <div class="dropdown-menu">
          <form class="px-4 py-3">
            <div class="form-group">
              <label for="photo-file">File</label>
              <input class="form-control-file form-control-sm" type="file" id="photo-file">
            </div>

            <div><button type="submit" class="btn btn-primary btn-sm">Upload</button></div>
          </form>
        </div>
      </div>
    </div>

    <div class="card-columns">
      <div class="card">
        <a href="../images/01.jpg" target="_blank">
          <img class="card-img-top" src="../images/01.jpg" alt="Sample image">
        </a>
        <button type="button" class="btn btn-link" aria-label="Remove this photo">Remove</button>
      </div>
      <div class="card">
        <a href="../images/02.jpg" target="_blank">
          <img class="card-img-top" src="../images/02.jpg" alt="Sample image">
        </a>
        <button type="button" class="btn btn-link" aria-label="Remove this photo">Remove</button>
      </div>
      <div class="card">
        <a href="../images/03.jpg" target="_blank">
          <img class="card-img-top" src="../images/03.jpg" alt="Sample image">
        </a>

        <button type="button" class="btn btn-link" aria-label="Remove this photo">Remove</button>

      </div>
      <div class="card">
        <a href="../images/04.jpg" target="_blank">
          <img class="card-img-top" src="../images/04.jpg" alt="Sample image">
        </a>
        <button type="button" class="btn btn-link" aria-label="Remove this photo">Remove</button>
      </div>
    </div>


    <div class="modal fade" id="removeProductModal" tabindex="-1" role="dialog" aria-labelledby="removeProductModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="removeProductModalLabel">Danger zone</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to remove this product? It will be removed from your store catalogue but
              will still be visible in orders history.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger">Remove "Cool T-shirt" </button>
          </div>
        </div>
      </div>
    </div>


  </main>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>
