{%- include 'common' -%}
{%- include 'layout/common/top' -%}

{%- include 'navigation/admin' %}

{%- include 'layout/flash_messages' -%}

<main class="container my-3">
  {{ content_for_layout }}
</main>

{%- include 'layout/common/bottom' -%}
