{%- include 'common' -%}
{%- include 'layout/common/top' -%}

<main class="container my-3 pt-5">
  {% if page.metadata.title != blank %}
    <h1 class="mb-3">{{ page.metadata.title }}</h1>
  {% endif %}

  {{ content_for_layout }}
</main>

{%- include 'layout/common/bottom' -%}
