{%- include 'common' -%}
{%- include 'layout/common/top' -%}

<div class="container">
  <div class="row justify-content-md-center">
    <main class="col-md-8 col-lg-6 p-xs-3 pt-5">
      {% if page.metadata.title != blank %}
        <h1 class="mb-3">{{ page.metadata.title }}</h1>
      {% endif %}

      {{ content_for_layout }}
    </main>
  </div>
</div>

{%- include 'layout/common/bottom' -%}
