<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">T-Shirts!</a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbar-nav"
    aria-controls="navbar-nav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-nav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="products.html">Men</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="products.html">Women</a>
      </li>
    </ul>

    {% parse_json current_user %}{% include "shared/get_current_user" %}{% endparse_json %}


    <ul class="navbar-nav">
    {% if context.current_user == blank %}
      <li class="nav-item">
        <a class="nav-link" href="/sign-in">Sign in</a>
      </li>
    {% else %}
      {% unless current_user.has_admin_access %}
      <li class="nav-item mr-3">
        <a class="btn btn-success" href="cart.html">Cart</a>
      </li>
      {% endunless %}
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Hello Chris!
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="navbarDropdown"
        >
          <a class="dropdown-item" href="user/index.html">My Orders</a>
          <a class="dropdown-item" href="user/settings.html">Settings</a>
          <div class="dropdown-divider"></div>
          {% include_form 'sign_out_form' %}
        </div>
      </li>
    {% endif %}
    </ul>

  </div>
</nav>
